@model IQueryable<Group>
@{
    ViewData["Title"] = "GetAllGroups";
}
<h2>Persisted Applicants</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int i = 1;
            foreach (var group in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>
                        <a asp-route-id="@group.Id" asp-controller="Applicants" asp-action="GetApplicantsByGroup">
                            <h4 class="btn btn-outline-dark">
                                @group.GroupName
                            </h4>
                        </a>
                    </td>
                    <td>
                        <a asp-route-id="@group.Id" asp-controller="Groups" asp-action="EditGroupAsync" class="btn btn-outline-primary">
                            Edit
                        </a>
                        <a asp-route-group="@group" asp-controller="Groups" asp-action="DeleteGroupAsync" class="btn btn-outline-danger" onclick="return DeleteInput()">
                            Delete
                        </a>
                    </td>
                </tr>
                i += 1;
            }
        }
    </tbody>
</table>