@model List<Group>

<h2>Groups</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Group Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var group in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>
                        <a asp-controller="Applicants" asp-action="GetApplicantsByGroupName" asp-route-id="@group.Id" class="btn btn-outline-dark btn-m1">
                            @group.GroupName
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Groups" asp-action="Edit" asp-route-id="@group.Id" class="btn btn-outline-primary btn-m1">
                            Edit
                        </a>
                        <a asp-controller="Groups" asp-action="DeleteGroup" asp-route-id="@group.Id" class="btn btn-outline-danger btn-m1">
                            Delete
                        </a>
                    </td>
                </tr>
                i += 1;
            }
            }
    </tbody>
</table>