@model IQueryable<Applicant>

<h1>Applicants</h1><br />


<form method="get" asp-action="SearchApplicant" class="form-inline p-2">
    <div class="box">
        <a asp-action="PostApplicant" class="btn btn-outline-primary form-inline">
            Add Applicant
        </a>
    </div>

    <div class="form-group">
        <input type="text" id="searchString" name="searchString" class="form-control" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Group Name</th>
        </tr>

    </thead>
    <tbody class="table-applicant-driver">
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@applicant.FirstName</td>
                <td>@applicant.LastName</td>
                <td>@applicant.Email</td>
                <td>@applicant.PhoneNumber</td>
                <td>@applicant.GroupName</td>
            </tr>
        }
    </tbody>
</table>
